.gallery {
    width: 100%;
    background-color: #000015;
    box-sizing: border-box;
    padding: 135px 0 100px 0;
}

.title-gallery {
   margin-bottom: 48px;
}

.container {
    margin: 0 15.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 47px
}

.pic {
    width: 243px;
    height: 243px;
    border-radius: 16px;
}