* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    max-width: 1400px;
}

.header {
    margin: 100px 321px 0 321px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title {
    font-family: DM Sans;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1E0E62;
}

.headerText {
    font-family: DM Sans;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #15143966;
}

.container {
    margin: 62px 100px 75px 100px;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: row;
    max-width: 1177px;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 48.5%;
    height: auto;
}

.card-image {
    margin-bottom: -4px;
}

.textblock {
    padding: 26px 80px 26px 34px ;
    width: 102.3%;
    height: auto;
    border: 2px solid #EBEAED;
    border-radius: 0 0 15px 15px;  
}

.card-heading {
    margin-bottom: 11.2px;
    font-family: DM Sans;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1E0E62;

}

.card-description {
    margin-bottom: 16.8px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #15143966;

}

.card-tags {
    font-family: DM Sans;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #482BE7;

}